.root {
    error-color: #ffa0a0 ;
}

.background{
    -fx-background-color: white;
}

.backgpanel{
    -fx-background-color: #F1F3F8;
}

.repgrid {
    -fx-border-color: #808080;
    -fx-border-width: 3;
    -fx-background-color: white;
}

.text-field:validation-error {
    -fx-background-color: error-color ;
}

.label.error-instructions {
    -fx-text-fill: error-color ;
}

#tabFile {
    -fx-background-color: #00BFFF;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1,5;
    -fx-background-radius: 0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14pt;
    -fx-text-fill: white;
}

#tabFile:focused, #tabFile:hover {
    -fx-background-color: #FFFFFF, #00BFFF;
}

#tabWork {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1,5;
    -fx-background-radius: 0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14pt;
    -fx-text-fill: #00BFFF;
}

#tabWork:focused, #tabWork:hover {
    //-fx-background-color: #00BFFF, #FFFFFF;
}

.panelFile {
    -fx-background-color: #00BFFF;
    -fx-background-radius: 0;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #00BFFF;
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

#buttonFile {
    -fx-padding: 5 22 5 22;
    -fx-background-radius: 0;
    -fx-background-color: #00BFFF;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16pt;
    -fx-text-fill: white;
}

#buttonFile:hover {
    -fx-background-color: #00BFFF;
}

#buttonFile:pressed, #buttonFile:default:hover:pressed {
    -fx-background-color: #87CEFA;
    -fx-text-fill: white;
}

#buttonFile:focused {
    -fx-border-width: 0;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}

#buttonBack {
    -fx-padding: 10 15 10 15;
    -fx-background-color: #F1F3F8;
}

#buttonBack:hover {
    -fx-background-color: #F1F3F8;
}

#buttonBack:pressed, #buttonBack:default:hover:pressed {
    -fx-background-color: #00BFFF;
}

#buttonBack:focused {
    -fx-background-radius: 6;
}

#buttonBack:disabled, #buttonBack:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

#buttonAdd {
    -fx-padding: 10 15 10 15;
    -fx-background-radius: 4;
    -fx-border-width: 0;
    -fx-background-color: #56a9f6;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-weight: normal;
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
}

#buttonAdd:hover {
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
}

#buttonAdd:pressed, #buttonAdd:default:hover:pressed {
    -fx-background-color: #00BFFF;
}

#buttonAdd:focused {
    -fx-border-radius: 4;
    -fx-text-fill: white;
}

#buttonAdd:disabled, #buttonAdd:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

#buttonStRep {
    -fx-padding: 10 15 10 15;
    -fx-background-radius: 4;
    //-fx-border-width: 2;
    -fx-background-color: #ea5e5b;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-weight: normal;
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
}

#buttonStRep:hover {
    -fx-background-color: #ea808e;
    -fx-text-fill: white;
    //-fx-text-weight: bold;
}

#buttonStRep:pressed, #buttonStRep:default:hover:pressed {
    -fx-background-color: #00BFFF;
}

#buttonStRep:focused {
    //-fx-border-color: #808080;
    //-fx-border-radius: 3;
    //-fx-border-width: 2;
    -fx-text-fill: white;
}

#buttonStRep:disabled, #buttonStRep:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

#buttonChoose {
    -fx-font-weight: normal;
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica";
    -fx-background-radius: 3;
    -fx-border-width: 1;
    -fx-border-color: #808080;
    -fx-border-radius: 4;
}

#buttonChoose:hover {
    -fx-border-width: 1;
}

#buttonChoose:pressed, #buttonChoose:default:hover:pressed {
    -fx-background-color: #00BFFF;
}

#buttonChoose:focused {
    -fx-border-color: #808080;
    -fx-border-radius: 4;
    -fx-border-width: 1;
}

#buttonChoose:disabled, #buttonChoose:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

#buttonBase {
    -fx-background-radius: 4;
    -fx-border-color: #808080;
    -fx-border-radius: 4;
    -fx-border-width: 1;
}

#buttonBase:hover {
    -fx-background-radius: 6;
    -fx-border-color: #808080;
    -fx-border-radius: 6;
    -fx-border-width: 2;
}

#buttonBase:pressed, #buttonBase:default:hover:pressed {
    -fx-background-color: #00BFFF;
}

#buttonBase:focused {
    -fx-background-radius: 6;
    -fx-border-color: #808080;
    -fx-border-radius: 6;
    -fx-border-width: 1;
}

#buttonBase:disabled, #buttonBase:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.textKol {
    -fx-background-color: #DCDCDC;
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: black;
    -fx-opacity: 0.8;
}

.label-bright {
    -fx-font-size: 13pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.label-repheader {
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-weight: normal;
    -fx-font-size: 18pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: #53585F;
    -fx-opacity: 0.7;
}

.label-about {
    -fx-font-size: 22pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: #53585F;
    -fx-opacity: 1;
}

.label-about-info {
    -fx-font-size: 16pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: #53585F;
    -fx-opacity: 1;
}

.label-about-header {
    -fx-font-size: 18pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-error {
    -fx-font-family: "Helvetica";
    -fx-text-fill: red;
    -fx-opacity: 1;
}

/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: white;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #00BFFF;
    -fx-text-fill: white;
}

.button:focused {
    //-fx-border-color: black;
    //-fx-border-width: 1;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.button:default {
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: #219297;
}

/*******************************************************************************
 *                                                                             *
 * Check Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.check-box {
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.check-box .box {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: #bababa;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-padding: 1;
}

.check-box .mark {
    -fx-background-color: transparent;
    //-fx-background-insets: -10;

    //-fx-padding: 15px;
    //-fx-shape: "M1,10L3,8L7,12L14,5L16,7L7,16Z"
}

.check-box:focused .box{
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    //-fx-border-color: black, #bababa;
    //-fx-border-width: 1, 2;
    //-fx-border-style: segments(1, 1), solid;
    //-fx-border-insets: -3, 0;
}

.check-box:selected .mark {
    -fx-background-color: green;
}

.check-box:indeterminate .mark {
    -fx-background-color: black; 
    -fx-background-insets: 2.8; 
    -fx-padding:7px;
    -fx-shape: null;
}

.check-box:disabled {
    -fx-opacity: 0.4;
}

.check-box:disabled .box {
    -fx-background-color: #cdcdcd;
    -fx-border-color: #aaa;

}

.check-box:armed .box {
    -fx-background-color: white, green;
    -fx-background-insets: -1, 2;
    -fx-background-radius: 0, 0;
}

.check-box:armed .box .mark {
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.radio-button .radio  {
    -fx-background-color: white;
    -fx-background-radius: 50%; /* large value to make sure this remains circular */
    -fx-background-insets: 0;
    -fx-border-radius: 50%;
    -fx-border-color: #bababa;

    -fx-padding: 7px; /* 4 -- padding from outside edge to the inner black dot */
}

.radio-button:hover .radio {
    //-fx-border-color: #919191;
}


.radio-button .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 50%; /* large value to make sure this remains circular */
    //-fx-padding: 6px; /* 3 -- radius of the inner black dot when selected */
}

.radio-button:selected .dot {
    -fx-background-color: green;
}

.radio-button:disabled {
    -fx-opacity: 0.5;
}

.radio-button:disabled .radio {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #d9d9d9;
}

.radio-button:focused .radio {
    -fx-background-color: white;
    -fx-background-radius: 50%; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    //-fx-border-style: solid, segments(1, 1);
    //-fx-border-radius: 50%;
    //-fx-border-color: #bababa, black;
    //-fx-border-insets: 0px, -2px;
    //-fx-border-width: 1px, 1px;

    //-fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */   
}

.radio-button:armed .radio {
    //-fx-background-color: #212121;
    //-fx-border-color: #212121;
}

.radio-button:pressed .radio {
    //-fx-background-color: #212121;
    //-fx-border-color: #212121;
}

.radio-button:pressed:selected .dot {
    -fx-background-color: green;
}

.radio-button:armed .dot {
    -fx-background-color: white;
}

.radio-button:focused:armed .radio {
    -fx-background-color: green;
    -fx-background-radius: 50%; /* large value to make sure this remains circular */
    -fx-background-insets: 0;

    //-fx-border-style: solid, segments(1,1);
    //-fx-border-radius: 1.0em, 0;
    //-fx-border-color: #212121, #212121;
    //-fx-border-insets: 0px, -2px;
    //-fx-border-width: 1px, 1px;

    //-fx-padding: 4px; /* 4 -- padding from outside edge to the inner black dot */   
}

/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/

.context-menu {
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.333333em 0em 0.333333em 0em; /* 4 1 4 1 */

    /* TODO: the border color below is not being respected - it appears as gray instead of black*/
    -fx-border-color: #212121;
    -fx-border-style: solid;
}

.context-menu .separator .line{
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em;  /*0 4 0 4 */
    -fx-border-style: solid;
    -fx-background-color: #c2c2c2;
    -fx-border-width: 0.5px;
}

/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar .thumb{
    -fx-background-color: #cdcdcd;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .thumb:hover {
    -fx-color: #dadada;
}

/* The following is not working. Maybe related to RT-10521*/
.scroll-bar .thumb:pressed {
    -fx-background-color: #606060;
}


.scroll-bar .track {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar .track-background {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-padding: 0.25em; /* 3 */
}

.scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover  {
    -fx-background-color: #dadada;
}

.scroll-bar .increment-button:pressed, .scroll-bar .decrement-button:pressed {
    -fx-background-color: #606060;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.scroll-bar .increment-button:pressed .increment-arrow {
    -fx-background-color: white, white;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

.scroll-bar .decrement-button:pressed .decrement-arrow {
    -fx-background-color: white, white;
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-color: transparent,-fx-background;
}

.scroll-pane .corner {
    -fx-background-color: white, #f0f0f0;
}


/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.combo-box-base  {
    -fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-padding: 0.166667em; /* 2 */
}

.combo-box-base:hover {
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-color: transparent, #909090, transparent, white;
}

.combo-box-base:focused {
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

/* ------- OPEN BUTTON ------- */
.combo-box-base .arrow-button {
    -fx-background-color: transparent, transparent, white;
}

/* ------- ARROW* ------- */
.combo-box-base .arrow {
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.combo-box-popup .list-view {
    -fx-background-color: #909090, -fx-control-inner-background;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #dedede;
    -fx-text-fill: #1d1d1d;
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: #55c4fe;
}

.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #6dcdff;
}

.combo-box-popup .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed
{
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #1d1d1d;
}


/*******************************************************************************
 *                                                                             *
 * ListSpinner (Jfxtras)                                                       *
 *                                                                             *
 ******************************************************************************/

.list-spinner { 
    -fx-skin: "jfxtras.labs.internal.scene.control.skin.ListSpinnerCaspianSkin";
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-padding: 0em 0em 0em 0em;
    -fx-text-fill: #212121;
}

.list-spinner:hover {
    -fx-color: #f0f0f0;
}

.list-spinner .value-pane { 
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}

.list-spinner .decrement-button, .list-spinner .increment-button
{
    -fx-background-color: #f0f0f0;
    -fx-padding: 1.2500em 0.5000em 1.2500em 0.5000em; /* 15 6 15 6*/
}

.list-spinner .left-arrow { 
    -fx-shape: "M301,415.5l-4.5,4.5l4.5,4.5h-3l-4.5-4.5l4.5-4.5H301z";
    -fx-scale-shape: false;
}

.list-spinner .decrement-button:hover {
    -fx-background-color: #dadada;
}

.list-spinner .decrement-button:pressed {
    -fx-background-color: #606060;

}
.list-spinner .decrement-button:pressed .left-arrow{ 
    -fx-background-color: white;
}

.list-spinner .right-arrow { 
    -fx-shape: "M296.5,415.5l4.5,4.5l-4.5,4.5h-3l4.5-4.5l-4.5-4.5H296.5z";
    -fx-scale-shape: false;
}

.list-spinner .increment-button:hover {
    -fx-background-color: #dadada;
}

.list-spinner .increment-button:pressed {
    -fx-background-color: #606060;

}
.list-spinner .increment-button:pressed .right-arrow {
    -fx-background-color: white;
}

.list-spinner .down-arrow { 
    -fx-shape: "M292.5,416.25l4.5,4.5l4.5-4.5v3l-4.5,4.5l-4.5-4.5V416.25z";
    -fx-scale-shape: false;
}
.list-spinner .up-arrow { 
    -fx-shape: "M292.5,420.75l4.5-4.5l4.5,4.5v3l-4.5-4.5l-4.5,4.5V420.75z";
    -fx-scale-shape: false;
}

.list-spinner .text
{
    -fx-font-family: "Helvetica"
}

.list-spinner:disabled {
    -fx-opacity: .4;
}
